@use "src/styles/variables.scss" as v;

.storyTile {
  display: grid;

  & > * {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1 /1;
    object-fit: cover;
  }

  &__content {
    align-self: end;
    color: v.$white;
    margin-bottom: 20px;
    width: 85%;
    margin: 0 auto;

    & div:first-child {
      padding: 16px 5px;
      background-color: rgba(v.$lightGray, 0.25);
    }
  }

  @media only screen and (min-width: v.$MD) {
    aspect-ratio: 1 / 1.5;
  }

  @media only screen and (min-width: v.$LG) {
    aspect-ratio: 1 / 1.5;
  }
}
