@use "src/styles/variables.scss" as v;

.button {
  padding: 12px 24px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}

.dark {
  background-color: v.$black;
  color: v.$white;

  &:hover {
    background-color: v.$lightGray;
    color: v.$black;
  }
}

.light {
  background-color: v.$white;
  color: v.$black;

  &:hover {
    background-color: v.$lightGray;
  }
}
