// COLORS

$mainAccent1: #ffc593;
$mainAccent2: #bc7198;
$mainAccent3: #5a77ff;
$black: #000000;
$lightGray: #dfdfdf;
$white: #ffffff;

// BREAK_POINTS
$XL: 1536px;
$LG: 1024px;
$MD: 767px;
$SM: 375px;
