@use "src/styles/variables.scss" as v;
.featureList {
  display: grid;
  grid-template-columns: 1;

  @media only screen and (min-width: v.$LG) {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    width: 80%;
    margin: 40px auto;
  }
}
