@use "src/styles/variables.scss" as v;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 70px;
  z-index: 3;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: v.$white;

  & button {
    background-color: transparent;
    display: flex;
    align-items: center;
    border: none;
    height: 20px;
  }
}

.drawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: absolute;
  top: 70px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  transform: translateY(-200%);
  background-color: v.$white;
  padding: 36px;

  & li {
    list-style: none;
  }

  & a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: v.$black;
    letter-spacing: 2px;
    cursor: pointer;

    &:hover {
      color: v.$lightGray;
    }
  }

  & hr {
    width: 90%;
    height: 2px;
  }

  & button {
    width: 90%;
  }
}

.open {
  transform: translateY(0);
  z-index: 2;
}
